/*start header*/

.header
{
	background-color:black;
	height:70px;
	top:-7px;
	margin-left:-8px;
	margin-right:-8px;
	position:relative;
}
.image .logo
{
	width:50px;
	height:50px;
	float:left;
	position:absolute;
	top:20px;
	left:30px;
	transition:0.6s ease;
}
.site_name
{
	font-family:arial, palatino,Impact, Charcoal, sans-serif;
	float:left;
	position:absolute;
	top:-47px;
	font-size:40px;
	color:#fff;
	margin-left:75px;
	transition:0.6s ease;
}
.site_name span
{
	color:#fff000;
}
.text a[target="_blanck"]
{
	float:right;
	position:absolute;
	bottom:5px;
	right:50px;
	font-size:20px;
	color:#fff000;
	transition:0.6s ease;
	text-decoration:none;
}
.text a:hover
{
	color:#fff;
}

/*end header */

/* start navigation */
.cart img
{
	width:30px;
	height:30px;
	margin:10px 0 0 35px;
}
.menu
{
	height:55px;
	top:-6px;
	margin-left:-8px;
	margin-right:-8px;
	background-color:#fff;
	position:relative;
}
.menu input[list="categories"]
{
	position:absolute;
	top:15px;
	left:80px;
	height:25px;
	width:350px;
	border:2px groove #fff;
	border-radius:5px;
}
.menu input[list="categories"]:hover
{
	border-color:#000;
}
.menu .list 
{
	list-style-type:none;
	float:right;
	position:absolute;
	right:120px;
	top:1px;
}
.menu .list li 
{
	display:inline-block;
}
.menu .list li a 
{
	color:black;
	text-decoration:none;
	transition:0.6s ease;
	padding:14px;
	margin-right:20px;
	font-size:17px;
	border-radius:5px
	
}
.menu .list li a:hover 
{
	color:#000;
	background-color:#ddd;
}
.menu .list li a:active
{
	color:#fff;
	background-color:#000;
}
/* end navigation */
.vl {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;

}
/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left {
    left: 0;
    background-color: #111;
	width:70%;
}

/* Control the right side */
.right {
    right: 0;
    background-color: black;
	width:30%;
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
    width: 150px;
    border-radius: 50%;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 50px;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
.button {
    border-radius: 4px;
    background-color: blue;
    border: none;
    color: black;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 150px;
	height:65px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 4px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}